<ng-container *ngIf="state$ | async as state">
  <form [formGroup]="form">
    <div class="filter-container">
      <tui-filter
        formControlName="filters"
        size="s"
        [items]="state.categories">
      </tui-filter>
    </div>

  </form>

  <h1 class="card-container__title">List of Todos</h1>
  <div class="card-container">
    <ng-container *ngFor="let item of state.todos">
      <app-todo-item
        [item]="item"
        (actionClick)="onAction($event)"
      >
      </app-todo-item>
    </ng-container>
  </div>
</ng-container>
