
/* You can add global styles to this file, and also import other style files */
html, body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1 0 auto;

  font: var(--tui-font-text-s);
  color: var(--tui-text-01);
  margin: 0;
}
